<!DOCTYPE html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate-js/2.0.1/validate.js"></script>
</head>
<div class="center jumbotron">
<h1>ALPHA BLOG</h1>

<!--<%= link_to 'Alpha Blog', articles_path%> | <%= link_to "About", about_path %> -->
<%= link_to "Sign Up Now", signup_path, class: "btn btn-primary btn-lg" %>
<input type="button" class="btn btn-primary btn-lg" id="btnClose" value="Modal">
</div> 



<div id="myModal" class="modal">
    <div class="modal-content">
    <span class="close">&times;</span>
        <p>
            <form class="form-container" action="/pages/ajax_demo" method="POST" id="myForm" name="myForm">
            <br>
            <label><b>Email</b></label>
            <br>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <br>
            <label><b>Password</b></label>
            <br>
            <input type="password" placeholder="Enter Password" name="password" id="password">
            <br>
            <button type="submit" id="submit" class="btn">Login</button>
            <br>
            </form>
        </p>
    </div>
</div>

<script>
      var modal = document.getElementById("myModal");
      var btn = document.getElementById("btnClose");
      var span = document.getElementsByClassName("close"); 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      span.onclick = function() {
        modal.style.display = "none";
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      /*
      $("#myForm").validate({
          rules: {
              password: {
                  required: true,
                  minlength: 6,
                  maxlength: 10
              }
            },
          messages: {
              password:{
                  required: "Invalid Password"
              }
          }
      });
      */

    $(document).ready(function(){
        $('#submit').on('click',function(e){
            e.preventDefault();
            var form_data = $('#myForm').serialize();
            $.ajax({
                url:"/pages/ajax_demo",
                type:"POST",
                data: form_data,
                datatype:"json",
                success:function(response,email)
                {
                           
                    alert(response.email)
                },
                error:function(response)
                {
                    alert("Error")
                }
            });
        });

      
        $("#myForm").validate({
          rules: {
              password: {
                  required: true,
                  minlength: 6,
                  maxlength: 10
              }
            },
            debugger;
          messages: {
              password:{
                  required: "Invalid Password"
              }
          }
      });



    });

</script>

</html>
