<div class="container" >
    <footer class="footer" >
        <small>
        Copyrigth &copy; <a href="http://localhost:3000/">Alpha Blog</a>
        by <a href="http://localhost:3000/">Aishwarya
        </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %>
        </ul>
    </nav>
    </footer>
</div>